<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
<h2>LOGIN</h2>
<form method="POST">
    {% csrf_token %}

    <label for="email">Email:</label><br>
    <input type="email" name="email" id="email" required><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password" required><br><br>

    <!-- Remember Me Checkbox -->
    <input type="checkbox" name="remember_me" id="remember_me">
    <label for="remember_me">Remember Me</label><br><br>

    <input type="submit" value="Login">
</form>

<p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>

</body>
</html>
